.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10vw;
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid rgb(0 0 0 / 19%);
  color: #676767;
  z-index: 1;

  .button {
    color: #676767;
  }
}
